---
import Badge from "./Badge.astro";
import Modal from "./Modal.astro";
import ToolTip from "./ToolTip.astro";
interface Props {
  badgeText: string;
  company: string;
  tw: string;
  year: string;
  parallaxWeightLTR: string;
  descriptionTitle: string;
  description: string;
}

const {
  company,
  badgeText,
  tw: positionStyling,
  year,
  parallaxWeightLTR,
  descriptionTitle,
  description,
} = Astro.props;

const tw =
  "justify-between py-2 lg:px-4 px-2 flex flex-row rounded-full \
  bg-cinnabar-400 drop-shadow-md transition-all duration-75 \
  ease origin-center lg:hover:scale-110 translate-x-0 translate-y-0 \
  lg:hover:bg-cinnabar-600 relative z-0 group";

const modalId = `${company.replaceAll(" ", "_")}_modal`;
---

<button
  class={`${tw} ${positionStyling}`}
  data-parallax-weight-ltr={parallaxWeightLTR}
  onclick=`(function(){if(window.innerWidth < 1024) document.getElementById("${modalId}").showModal()})()`
>
  <span
    class="text-cinnabar-900 lg:group-hover:text-cinnabar-200 font-roboto md:text-xl lg:text-2xl my-auto"
    >{company} - {year}</span
  >
  <Badge
    text={badgeText}
    tw="text-cinnabar-900 border-cinnabar-900 lg:group-hover:text-cinnabar-200 lg:group-hover:border-cinnabar-200"
  />
  <ToolTip
    tw1={(function () {
      switch (company) {
        case "S&P Global":
          return "left-full -translate-x-full 2xl:left-1/2 2xl:-translate-x-1/2";
        case "Nouse":
          return "left-full -translate-x-full xl:left-1/2 xl:-translate-x-1/2";
        case "TSYS":
          return "left-0 translate-x-0 3xl:left-1/2 3xl:-translate-x-1/2";
        default:
          return "";
      }
    })()}
  >
    <h1 class="text-cinnabar-600 font-baskerville text-xl font-semibold">
      {descriptionTitle}
    </h1>
    <p class="text-cinnabar-950 mt-4 max-w-prose text-justify">{description}</p>
  </ToolTip>
</button>
<Modal id={modalId} title={descriptionTitle} description={description} />
