---
import Badge from "./Badge.astro";
import ToolTip from "./ToolTip.astro";
interface Props {
  badgeText: string;
  company: string;
  tw: string;
  year: string;
  parallaxWeightLTR: string;
  descriptionTitle: string;
  description: string;
}

const {
  company,
  badgeText,
  tw: positionStyling,
  year,
  parallaxWeightLTR,
  descriptionTitle,
  description,
} = Astro.props;

const tw =
  "justify-between py-2 px-4 flex flex-row rounded-full \
  bg-cinnabar-400 drop-shadow-md transition-all duration-75 \
  ease origin-center hover:scale-110 translate-x-0 translate-y-0 \
  hover:bg-cinnabar-600 group";
---

<div
  class={`${tw} ${positionStyling} group relative z-0`}
  data-parallax-weight-ltr={parallaxWeightLTR}
>
  <span
    class="text-cinnabar-900 group-hover:text-cinnabar-200 font-roboto md:text-xl lg:text-2xl my-auto"
    >{company} - {year}</span
  >
  <Badge
    text={badgeText}
    tw="text-cinnabar-900 border-cinnabar-900 group-hover:text-cinnabar-200 group-hover:border-cinnabar-200"
  />
  <ToolTip>
    <h1 class="text-cinnabar-600 font-baskerville text-xl font-semibold">{descriptionTitle}</h1>
    <p class="text-cinnabar-950 mt-4 max-w-prose text-justify">{description}</p>
  </ToolTip>
</div>
